/*--------------------------------------------------------------
## Layout
--------------------------------------------------------------*/
.site-header {
	position: fixed;
	top: 100px;
	right: 0;
}

.site {
	max-width: 100%;
	margin: 0 auto;
	padding: {
		top: 100px;
		right: 100px;
	}
}

.site-main {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: {
		right: 50px;
		left: 50px;
	}

	.post {
		margin-bottom: 100px;
		transition: all .3s;
	}
}