.modal-container {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 20;
	overflow-y: scroll;

	// x button to close modal window
	.modal-controller {
		position: absolute;
		top: 100px;
		left: 50px;
		width: 50px;
		height: 50px;
		background-color: #000000;
		box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.3);
		cursor: pointer;
		transition: box-shadow .3s;

		&:hover {
			box-shadow: 0px 9px 3px 0px rgba(0,0,0,0.3);
			transition: box-shadow .3s;
		}
	}

	//modal window
	#modal-window {
		position: absolute;
		top: 100px;
		left: 100px;
		right: 0;
		max-width: 100%;
		margin-right: 150px;
		background-color: #ffffff;
		box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.3);
		z-index: 10;
	}

	// container for post meta and languge content
	.modal-meta-content {
		display: flex;
		margin-top: 50px;
	}

	// override post styles for front page
	.post {
		box-shadow: none;
		height: 100%;

		// remove post scaling from front page styles
		@media screen and (max-width: 1200px) {
			transform: scale(1);
		}

		@media screen and (max-width: 1033px) {
			transform: scale(1);
		}

		@media screen and (max-width: 899px) {
			transform: scale(1);
		}
	}

	// override post meta styles for fron page
	.post-meta {
		position: initial;
		margin-left: 50px;
		width: 250px;

		> div {
			padding: 0;
		}

		.date,
		.author {
			text-align: left;
			margin-bottom: 30px;
			width: 100%;
		}
	}

	.modal-title {
		margin-left: 50px;
		padding-right: 200px;
	}

	.modal-sidebar {
		position: absolute;
		top: 0;
		right: 0;
		width: 50px;
		height: 100%;
	}

	.modal-content {
		padding: {
			top: 100px;
			left: 50px;
			right: 50px;
		}
	}

	.modal-post-content {
		padding-right: 100px;
	}
}