$color__font-navigation: #FFFFFF;
$color__font-post-meta: #C1C1C1;

$color__bg-site-branding: #000000;

$color__cat-1-main: #ff4338;
$color__cat-1-second: #fe564b;
$color__cat-1-third: #fe685f;
$color__cat-1-fourth: #fd7a73;
$color__cat-1-fifth: #fd8d86;
$color__cat-1-sixth: #fc9f9a;

$color__cat-2-main: #004e59;
$color__cat-2-second: #195f69;
$color__cat-2-third: #337179;
$color__cat-2-fourth: #4c8289;
$color__cat-2-fifth: #669499;
$color__cat-2-sixth: #7fa5a9;

$color__cat-3-main: #7a9c49;
$color__cat-3-second: #87a55b;
$color__cat-3-third: #94ae6c;
$color__cat-3-fourth: #a0b87d;
$color__cat-3-fifth: #adc18f;
$color__cat-3-sixth: #bacaa0;




$color__cat-4-main: #276092;
$color__cat-5-main: #b8b09c;






$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
