@font-face {
    font-family: "MaisonNeueBold";
    src: url("/fonts/maison-neue-bold.ttf");
}

$font__main: "MaisonNeueMedium", sans-serif;
$font__navigation: "MaisonNeueBold", sans-serif;
$font__post-title: "MaisonNeueBold", sans-serif;
$font__post-meta: "MaisonNeueBold", sans-serif;
$font__site-branding: "MaisonNeueBold", sans-serif;



$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;