@font-face {
    font-family: "MaisonNeueBold";
    src: url("fonts/maison-neue-bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "MaisonNeueMedium";
    src: url("fonts/maison-neue-medium.ttf");
}

@font-face {
    font-family: "MaisonNeueMono";
    src: url("fonts/maison-neue-mono.ttf");
}

$font__main: "MaisonNeueMedium", sans-serif;
$font__navigation: "MaisonNeueMedium", sans-serif;
$font__post-title: "MaisonNeueBold", sans-serif;
$font__post-meta: "MaisonNeueMedium", sans-serif;
$font__modal-post-content: "MaisonNeueMono", sans-serif;
$font__site-branding: "MaisonNeueMedium", sans-serif;



$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;